.communityBody {
    height: auto;
    background-color: var(--tg-theme-bg-color);
}

.testTitle {
    font-size: 35px;
    color: var(--tg-theme-text-color);;
    padding-left: 10px;
    padding-top: 10px;
}