.card-body {
    white-space: nowrap;
}
.firstLineCrypto {
    font-size: 25px;
    display: flex;
    flex-wrap: nowrap;
}
.secondLineCrypto {
    display: flex;
    flex-direction: row;
    font-size: 23px;
}
.allLineCrypto {
    display: flex;
    flex-direction: row;
    text-align: start;
}
.arrows {
    padding-top: 0;
}