.profileBody {
    min-height: 95vh;
    height: auto;
    background-color: var(--tg-theme-bg-color);
}
.contactInformation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    color: var(--tg-theme-text-color);

}
.contactInformation h6 {
    font-size: 30px;
}
.contentContactInformation {
    display: flex;
    flex-direction: column;
}
.briefcase h5 {
    font-size: 30px;
    color: var(--tg-theme-text-color);
    text-align: center;
}
.briefcase {
    padding: 10px;
}
.briefcase h5 {
    color: var(--tg-theme-text-color);
}
.list-group-item {
    font-size: 20px;
    background-color: var(--tg-theme-header-bg-color);
    color: var(--tg-theme-text-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.setting {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;

}
.setting h5 {
    color: var(--tg-theme-text-color);
    font-size: 30px;
}
.contentContactInformation h6 {
    color: var(--tg-theme-text-color)   ;
}