.nav {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
    margin-right: 0;
    margin-left: 0;
    height: 70px;
    font-size: 18px;
}
.nav-item {
    color: var(--tg-theme-text-color);
    margin: 15px;
}
.downNavBar{
    background-color: var(--tg-theme-header-bg-color);
}