.nav {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
    margin-right: 0;
    margin-left: 0;
    height: 70px;
    font-size: 18px;
}
.nav-item {
    color: white;
    margin: 15px;
}
.downNavBar{
    background-color: #2f2f2f;
}