.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--tg-theme-header-bg-color);

}
.header button {
    color: var(--tg-theme-text-color);
}
.header img {
    border-radius: 8px;
}

.username {
    margin-left: auto;
    color: var(--tg-theme-text-color);
}
